{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow" />
    <title>Notification Creator Dashboard | {% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/css/AdminLTE.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    {% block head %}{% endblock %}
    <style>
        h3.box-title.custom{color: #00A93E !important;}
    </style>
  </head>

  <body class="sidebar-mini skin-red-light">
    <div class="wrapper">

      <header class="main-header">

        <!-- Logo -->
        <a href="/notification/" class="logo">
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>Notification Creator</b></span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
        </nav>
      </header>


      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

          <!-- Sidebar Menu -->
         <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li><a href="/notification/"><i class="fa fa-home"></i> <span>Home</span></a></li>
            <li><a href="/notification/create/"><i class="fa fa-play"></i> <span>Create New Notification</span></a></li>
            <li><a href="/logout/"><i class="fa fa-arrow-right"></i> <span>Logout</span></a></li>


          </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper" style="background-color: #fff;">

        <!-- Main content -->
        <section class="content">
            {% block content %}{% endblock %}
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->


    </div><!-- ./wrapper -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.11/js/app.min.js" type="text/javascript"></script>
    {% block footer %}{% endblock %}

  {% load tz_detect %}
  {% tz_detect %}
  </body>
</html>
